build: [
  ["dune" "subst"] {dev}
  [
    "dune"
    "build"
    "-p"
    name
    "-j"
    jobs
    "@install" {arch != "x86_32"}
    "@runtest" {with-test & arch != "x86_32"}
    "@doc" {with-doc}
  ]
]
